<app-header></app-header>

<main>
  <div class="container">
    <app-task-form></app-task-form>
    <app-task
      [task]="{
        id: 0,
        title: 'Finish Project',
        description:
          'Create components and services, connect to server, implement navigation',
        isImportant: true
      }"
    ></app-task>
    <app-task
    [task]="{
      id: 0,
      title: 'Tailwind',
      description:
        'Create components and services, connect to server, implement navigation',
      isImportant: false
    }"
  ></app-task>
  </div>
</main>
