.task {
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 1rem;
  border-radius: 0.25rem;
  margin: 0.5rem 0;
}
.task button {
  background-color: #ff0051;
  border: none;
  font-family: monospace;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
  color: white;
}

.task:hover{
  background-color: rgb(236, 236, 236);
  cursor: pointer;
}

.task.important {
  border-left: 5px solid darkblue;
}
