header {
    background-color: rgba(255,255,255,0.25);
  }
  nav {
    display: flex;
    justify-content: space-around;
    padding: 0.75rem 0;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
    font-weight: bold;
  }
  