<main>
  <div class="container">
    <div class="white-bg">
      <h1>Hello,</h1>
      <br />
      <p>This is my first Angular project.</p>
      <p>I now have a better understanding of:</p>
    </div>
    <ul>
      <li class="white-bg">State Management</li>
      <li class="white-bg">Routing</li>
      <li class="white-bg">Angular Components</li>
      <li class="white-bg">Angular Directives</li>
      <li class="white-bg">Http Client, Services, and Observables</li>
      <li class="white-bg">Dependency Injection in Angular</li>
      <li class="white-bg">The Angular CLI</li>
      <li class="white-bg">...</li>
    </ul>
  </div>
</main>
